.CartContainer{
    background-color: #F4F6F8;
    border-radius: 24px;
    padding: 44px;
    margin: 22px;
    filter: drop-shadow(0px 23px 23px rgba(53, 0, 126, 0.4));
}

.CartContainer .cartContent{
    width: 517px;
    height: 682px;
}

