.ItemsContainer{
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 26.5px;
    height: 410px;
    overflow-y: auto;
    overflow-x: hidden;
}

.emptyCart{
    text-align: center;
    color: #8998A8;
}