.totalItem{
    display: flex;
    justify-content: space-between;
}
.totalItem p{
    margin: 0;
    color: #3F4C58;
    font-size: 22px;
}
.total{
    font-weight: bold;
    color:#444e57
}